* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Ageo';
  src: url('assets/fonts/ageo');
}
body {
  min-width: 320px;
  background-color: #fff;
  color: #212121;

  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;

  padding-inline-start: 0;
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  padding-left:  35px;
  padding-right:  35px;
  margin: 0 auto;
  width: 1170px;
}
/* header */
.header {
  margin-top: 48px;
  margin-bottom: 21px;
}
.logo {
  display: block;
  width: 240px;
  height: 49px;
  margin-right: 114px;
}
.header-container,
.nav-list {
  display: flex;

}

.nav-item:not(:last-child) {
  margin-right: 40px;
}
.nav-list {
  padding: 10px 0;
  align-items: center;
  margin-right: 160px;
}
.nav-link {
  font-size: 18px;
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  font-family: "Ageo", sans-serif;
  color: black;
}
.auth {
  display: flex;
  justify-content: baseline;
}
.btn {
  padding: 10px 30px;
  margin: 0;
  margin-left: 22px;
  background-color: #ff6600;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-family: Ageo;
  font-weight: 500;
  line-height: 28.5px;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Ageo", sans-serif;
}
.log {
  padding: 10px 0;
  white-space: nowrap;
  font-family: "Ageo", sans-serif;
}
.nav {
  display: flex;
  align-items: center;
}
/* hero */
.hero-container{
  display: flex;
  position: relative;
}
  .hero-info{
  margin-right: 17px;
}

.hero-title{
  color: #0B1B35;
font-size: 70px;
font-family: 'Ageo', sans-serif;
font-weight: 850;
line-height: 81px;
padding-top: 93px;
width: 653px;
margin-bottom: 46px;
padding-right: 0;

}
.hero-paragraf{
  color: black;
font-size: 22px;
font-family: 'Ageo', sans-serif;
font-weight: 500;
line-height: 28.50px;
 width: 600px;
margin-bottom: 66px;
}
.hero-btn{
  margin: 0;
}
.hero-img{
width: 606px;
  min-height: 618px;
  position: absolute;
 top: 0;
  left:51%;
}
/* features */
#features{
  margin-top: 86px;
  margin-bottom: 181px;
}
svg {
  display: block;
  width: 76px;
  height: 76px;
  stroke-width: 0;
  stroke: black;
  fill: black;
  margin: 0 auto;
  margin-bottom: 41px;
  margin-top: 30px;
}
.services{
  color: #8A898E;
font-size: 14px;
font-family: 'Ageo', sans-serif;
font-weight: 700;
line-height: 28.50px;
letter-spacing: 6.30px;
text-transform: uppercase;
text-align: center;
margin-bottom: 19px;
}
.services-box{
  text-align: center;
}
.services-item{
  width: 352px;

  border-radius: 28px;
  box-shadow:-1px 17px 41px -2px rgba(66, 68, 90, 0.43);
}
.services-item:not(:last-child){
  margin-right: 57px;
}
.features-title{
color: #0B1B35;
 font-size: 52px;
 font-family: 'Ageo', sans-serif;
 font-weight: 700;
 line-height: 28.50px;
text-align: center;
margin-bottom: 108px;
}
.services-list{
 display: flex;

}
.service-title{
  text-align: center;
  color: black;
font-size: 36px;
font-family: 'Ageo', sans-serif;
font-weight: 700;
line-height: 28.50px;
margin-bottom: 32px;
}
.service-text{
  text-align: center;
  padding: 0 41px;
  margin-bottom: 18px;
  color: black;
font-size: 18px;
font-family: 'Ageo', sans-serif;
font-weight: 400;
line-height: 30px;
letter-spacing:2;

}
.service-btn{
  margin-bottom: 45px;
  margin-left:0 ;
}
